<!DOCTYPE html>
<html lang="ko">
    {% include '01.layout/header.html' %}
    {% include '01.layout/nav.html' %}
    {% load humanize %}
<body>
  <div class="container-fluid mt-5">  
  
  <form class="mt-3" action="/quotation_labor" method="post">
    {% csrf_token %}
    <input name="sortData" hidden value="{{sort_data}}">          
    <table class="table table-bordered mt-1">
      <thead>
        <tr>          
          <th>장비구분</th>
          <th>상세내역</th>
          <th>단위</th>
          <th>수량</th>
          <th>장비단가</th>
          <th>장비금액</th>
          <th>노무비</th>
          <th>금액</th>
          <th>장비모델</th>                          
          <th>비고</th>                                    
        </tr>
      </thead>
      <tbody>
        {% for val in filter_data %}
        <tr>          
          <td>{{val.0}}</td>
          <td>{{val.1}}</td>
          <td>EA</td>
          <td>{{val.2}}</td>
          <td>{{val.3}}</td>
          <td>{{val.4}}</td>      
          <td>{{val.6 | intcomma}}</td>
          <td>{{val.7 | intcomma}}</td>          
          <td>{{val.5}}</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>    
    <button type="submit" class="btn btn-success">엑셀추출</button>
  </form>

  <h3 class="mt-5">인건비 산출</h3>

  <table class="table table-bordered mt-1">
    <thead>
      <tr>          
        <th>장비구분</th>  
        <th>단위</th>
        <th>수량</th>
        {% for items in labor_kr %}
        <th>{{items}}</th>
        {% endfor %}                     
        <th rowspan="2">금액</th>                              
        <th>비고</th>                              
      </tr>
    </thead>
    <tbody>      
      <tr>        
        <td colspan="3">인건비</td>        
        {% for val in salary %}
        <td>{{ val | intcomma}}</td>        
        {% endfor %}
        <td></td>        
      </tr>            
      {% for val in filter_data %}
      <tr>        
        <td>{{val.0}}</td>
        <td>EA</td>
        <td>{{val.2}}</td>       
        <td>{{val.8}}</td>       
        <td>{{val.9}}</td>       
        <td>{{val.10}}</td>
        <td>{{val.11}}</td>
        <td>{{val.12}}</td>
        <td>{{val.13}}</td>
        <td>{{val.14}}</td>
        <td>{{val.15}}</td>
        <td>{{val.16}}</td>
        <td>{{val.17}}</td>
        <td>{{val.18}}</td>
        <td>{{val.19}}</td>
        <td>{{val.20}}</td>        
        <td>{{val.7 | intcomma}}</td>             
      </tr>
      {% endfor %}
      <tr>
        
      </tr>

    </tbody>
  </table>    
  
  <div class="row mt-5">
    <div class="col-6">        
      <!-- 아래는 초기화 버튼 -->
      <form action="/" method="post">
        {% csrf_token %}
        <input name="reset_btn" hidden value="reset_btn">
        <button type="submit" class="btn btn-danger">초기화</button>
      </form>
    </div>
    <div class="col-6">
      <a href="/" class="btn btn-primary">목록</a>
    </div>
  </div>  

</body>

</html>
